<h1>Vehicles</h1>
<input type="text" [(ngModel)]="searchkeyword" (keyup)="search()">
<select [(ngModel)]="columnName">
    <option value="Vehicle">Vehicle Name</option>
    <option value="manufacturer">Manufacturer</option>
    <option value="cost">Cost</option>
    <option value="color">Color</option>
</select>
<select [(ngModel)]="sortOrder" >
    <option value="asc">Ascending Order</option>
    <option value="desc">Descending Order</option>
</select>
<button class="btn btn-warning" (click)="sort()">Sort</button>

<!-- vehicles pagination -->
 <select [(ngModel)]="items">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="20">20</option>
</select>
<select [(ngModel)]="pageNumber">
    <option value="1">1 </option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select>
<button class="btn btn-success" (click)="pagination()">Pagination</button>

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th> Vehicle Name</th>
            <th>manufacturer</th>
            <th> model</th>
            <th>color</th>
            <th>cost </th>
            <th> type</th>
            <th> tyres</th>
            <th> Image</th>
            <th> Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.color}}</td>
            <td>{{vehicle.cost}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.tyres}}</td>
            <td>{{vehicle.image}}</td>
            <td>
                <button class="btn btn-danger" (click)="delete(vehicle.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
