<table class="table table-success table-striped">
    <thead>
        <tr>
            <th> Vehicle Name</th>
            <th>manufacturer</th>
            <th> model</th>
            <th>color</th>
            <th>cost </th>
            <th> type</th>
            <th> tyres</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.color}}</td>
            <td>{{vehicle.cost}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.tyres}}</td>
        </tr>
    </tbody>
</table>
