
/* .first{
    background-color: aqua;
    color: brown;
}
.second{
    background-color: wheat;
    color:salmon;
}
.third{
    background-color:white;
    color:blue;
}
button{
    background-color: rgb(100, 164, 237);
} */