

<h1>{{id ? 'Edit vehicle' : 'Create vehicle'}}</h1>

<form [formGroup]="vehicleForm" (ngSubmit)="Submit()">
    <label for="">Vehicle:</label>
    <input type="text" formControlName="Vehicle" >
    <br>

    
    <label for="">Manufacturer:</label>
    <input type="text" formControlName="manufacturer" >
    <br>

    
    <label for="">Model:</label>
    <input type="text" formControlName="model">
    <br>

    
    <label for="">Type:</label>
    <input type="text" formControlName="type">
    <br>

    
    <label for="">Fuel:</label>
    <input type="text" formControlName="fuel">
    <br>

    
    <label for="">Color:</label>
    <input type="text" formControlName="color">
    <br>

    
    <label for="">Image:</label>
    <input type="text" formControlName="image">
    <br>

    
    <label for="">Cost:</label>
    <input type="number" formControlName="cost">
    <br>
    
    <label for="">Tyres</label>
    <input type="number" formControlName="tyres">
    <br>
    <input type="submit" >



</form>
