.parent{
    height: 100%;
    width: 100%;
    background-color: lightyellow;
    display: flex;
}
.card{
    height: 400px;
    width: 350px;
    align-items: center;
    justify-content: center;
}
.sun{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: crimson;
}