<div class="parent">
    <h1>flipkart</h1>
<div class="top">
    <div class="left">
        <div class="topp">
            <label></label>
            <input type="text" placeholder="search"> &nbsp;
            <button class="btn btn-primary pri"  (click)="free()">Only free delivery</button>
        </div>
        <div class="middle">
            
<button class="btn btn-warning pl2h" (click)="sort()">Price low to high</button> 
<button class="btn btn-warning ph2l" (click)="app()">Price high to low</button>
<button class="btn btn-warning rl2h" (click)="ball()">Rating low to high</button>
<button class="btn btn-warning rh2l" (click)="bat()">Rating high to low</button> 
        </div>
        <div class="md">
            <button class="btn btn-info apd" (click)="cat()" >Apply50% Discount</button> 
            <button class="btn btn-info pdc" (click)="dog()">price with delivery changes</button> 
        </div>
        <div class="down">
            <button class="btn btn-dark tp" (click)="egg()" >Total Price</button> 
            <button class="btn btn-dark tc" (click)="ice()" >Total cart items</button> 
        </div>
      
 

    </div>
    <div class="right">
        
          <label>Name:</label>
          <input type="text" [(ngModel)]="Name" > <br>
          <label>Price:</label>
          <input type="number" [(ngModel)]="Price"  > <br>
          <label>Rating:</label>
          <input type="number" [(ngModel)]="Rating" > <br>
          <label >Free Delivery:</label>
          <input type="radio" name="yes">
          <label >yes</label>
          <input type="radio" name="yes">
          <label >no</label> <br>
          <button class="btn btn-success ss" (click)="addtocart()">Add to cart</button>
    </div>
</div>

<div class="bottom">
    <table class="table table-success table-striped-columns">
    <thead>
        <tr>
            <th>S No</th>
        <th> Product Name</th>
        <th>Price</th>
        <th>Rating</th>
        <th>Free Delivery</th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products;let i=index">
            <td>{{i+1}}</td>
             <td>{{product.ProductName}}</td>
              <td>{{product.Price}}</td>
               <td>{{product.Rating}}</td>
                <td>{{product.FreeDelivery}}</td>
                <td><button class="btn btn-danger"(click)="delete(i)">Delete</button> </td>

        </tr>
    </tbody>
</table>

</div>


</div>
