.parent{
    width: 100vw;
    height: 100vh;
    background-color: chocolate;
    display: flex;
}
.left{
    width: 20%;
    height: 100%;
    background-color: aqua;
}
.right{
    width: 80%;
    height: 100%;
    background-color: lightcoral;
}