<div class="parent">
    <div class="left">

        <h1 routerLink="/dashboard">My Website</h1> <hr >
        <h2 routerLink="/dashboard/home">Home</h2>
        <h2 routerLink="/dashboard/welcome">Welcome</h2>
        <h2 routerLink="/dashboard/databinding">Data Binding</h2>
        <h2 routerLink="/dashboard/calculator">Calculator</h2>
        <h2 routerLink="/dashboard/rectangle">Rectangle</h2>
        <h2 routerLink="/dashboard/circle">Circle</h2>
        <h2 routerLink="/dashboard/bmi">BMI</h2>
        <h2 routerLink="/dashboard/directives">Directive</h2>
        <h2 routerLink="/dashboard/employee">Employee Data</h2>
          <h2 routerLink="/dashboard/flipkart">Flipkart</h2>
          <h2 routerLink="/dashboard/vehicles">Vehicles</h2>
          <h2 routerLink="/dashboard/mail">Mails</h2>
          <h2 routerLink="/dashboard/flipkartfake">Flipkartfake</h2>
          <h2 routerLink="/dashboard/pinterest">Pinterest</h2>
          <h2 routerLink="/dashboard/createvehicle">Create Vehicle</h2>
          <h2 routerLink="/dashboard/students">Student</h2>
          <h2 routerLink="/dashboard/vehicless">vehicless</h2>
          <h2 routerLink="/dashboard/bank">bank</h2>
          <h2 routerLink="/dashboard/create-bank">Add Bank</h2>

          <h2 routerLink="/dashboard/account-details">AccountDetails</h2>
          <h2 routerLink="/dashboard/weather">weather</h2>
          <h2 routerLink="/dashboard/studentss">studentss</h2>
          <h2 routerLink="/dashboard/create-vehicle">CreateVehicle</h2>
          <h2 routerLink="/dashboard/vehicle-details">VehicleDetails</h2>
          <h2 routerLink="/dashboard/create-user">Createuser</h2>
          <h2 routerLink="/dashboard/task">FormTask</h2>
          <h2 routerLink="parent">Parent</h2>
          <h2 routerLink="button">Button</h2>
          <h2 routerLink="click">Click</h2>



        <button routerlink="Login">logout</button>


    </div>
     <div class="right">
        <router-outlet></router-outlet>
     </div>
</div>
